/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Verdana';
  line-height: 1.6;
  padding: 20px;

  background-image: url('https://img1.picmix.com/output/stamp/normal/8/8/0/4/2554088_51e77.gif');
  background-size: cover;
  
  text-align:center;
  max-width: 90%;
  margin: 50px auto;
}

header {
  background: #007acc;
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}

h1 {
  font-style: italic;
}
