/* Reset some default styles */
main {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h3 {
      font-style: italic;
      font-weight: bold;
      text-align: center;
      color: white;
}

h4 {
      font-style: italic;
      font-weight: bold;
      text-align: center;
      color: white;
}

body{
    background-image: url('https://raw.githubusercontent.com/Lag0sEra/Lag0sEra.github.io/refs/heads/main/Websiteshits/BG/TransBG.gif');
    background-size: cover;
    height: 100px;
    font-family: Verdana;
    padding:20;
    margin:0;
}

header {
  background: #007acc;
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
    list-style: none inside;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}
